@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Roboto:wght@100;300;400;500&display=swap");
body {
  font-family: "Roboto", sans-serif !important;
}

header .navbar {
  background-color: rgb(7, 54, 114) !important;
}
header .logo {
  width: 200px;
  height: 200px;
}
header .nav-link {
  color: white !important;
}

.principal {
  background-image: url(../assets/image/foto\ lamparas.jpg);
  background-size: cover;
  max-width: 100%;
  min-height: 70vh;
  max-height: 100%;
}

.titulos {
  color: white;
}

.sobreNosotros {
  color: white !important;
}

.principal h1 {
  /* font-size: 3em !important; */
  color: #7eb0f7 !important;
}

.card-body {
  background-color: none !important;
}

.contacto {
  color: white;
  padding: 20px;
}

.titulo-contacto {
  text-align: center;
}

.caja-contacto {
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 30px;
  margin-top: 50px;
}

input, textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 1em;
  border: none;
}

#enviar-boton {
  background-color: #7eb0f7;
  font-size: 1.3em;
  font-weight: 500;
  padding: 25px;
}

footer #footer-style {
  background-color: rgb(7, 54, 114) !important;
  font-weight: 500 !important;
}
footer #acyede-footer {
  color: white !important;
  font-weight: 500 !important;
}
footer #datos-camara {
  color: white !important;
  font-weight: 500 !important;
}