
    footer{
        #footer-style {
            background-color:  rgb(7, 54, 114) !important ;
            font-weight: 500 !important;
        }
        
        #acyede-footer {
            color:white!important;
            font-weight: 500 !important;
        }
        
        #datos-camara{
            color: white !important;
            font-weight: 500 !important;
        }
    }
                
               